body {
    background-color: rgb(126, 12, 12);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: x-large;
}

img {
    width: 600px;
    height: 420px;
    border-radius: inherit;
    border-color: whitesmoke;
    border-style: solid;
}